.error {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  padding: 30px 120px 40px 50px;
  font-size: 40px;
  text-align: left;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: white;
  z-index: 10000;
  }

  .error::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 180px;
    background: url('./error-pic.png') no-repeat 0 0;
    background-size: 150px auto;
  }

  .error-close {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 3;

    width: 31px;
    height: 31px;

    background-color: transparent;
    border: 0;
    padding: 0;

    cursor: pointer;
  }

  .error-close::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 31px;
    height: 31px;

    background-image: url("./icon-close.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .error-close:hover::after,
  .error-close:focus::after {
    opacity: 0.7;
  }

  .error-close:active::after {
    opacity: 0.3;
  }

